.env
.env.*
!.env.example
vendor/
node_modules/
storage/*.key
storage/framework/
storage/logs/
public/build/
public/hot
public/storage
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
composer.lock
package-lock.json
.DS_Store
Thumbs.db
